@{
    if (Session["username"] == null)
    {
        Response.Redirect("~/usrlogin/userindex");
    }
}



<div class="content">
    <div class="section group">
        <div class="cont span_2_of_3">
            <div class="single">
                <h2>About Us</h2>
                <h3>About Our&nbsp;<span><a href="">Team</a></span></h3>
                <p>This projet is a demon trail project of asp. net.</p>
                <p>This web appliaction is a online shopping site for electronic items.</p>
                <p>As this is trail project we only have a limited amount of items available for in stock.Do you operate an online store that is continuously in need of product descriptions to ensure your changing inventory of merchandise remains up-to-date?</p>
                <p>Qualified writers from our international network of Clickworkers are poised to provide you with well-written, informative, product descriptions designed to entice your customers to make a purchase! Our product description writing services are fast and reliable and.</p>
                <p>Based on your insights, every singele description of a product will include the critical information needed to adequately communicate the nature of your product offering. Further attributes relevant to your merchandise such as sizing, dimensions, color range, pricing, etc. will also be incorporated. </p>
                <div class="btn top"></div>
            </div>
        </div>
        
            <div class="clear"></div>
            <div class="sidebar">
                <h2>Categories</h2>
                <ul class="nav1">
                    <li><a href="">All products here are for home uses.</a></li>
                    <li><a href="">We only have limited products.</a></li>
                    <li><a href="">Make your daily home active easy with them.</a></li>
                    <li><a href="">Buy them before they get sold out.</a></li>


                </ul>
            </div>
            <div class="clear"></div>
            <div class="sidebar">
                <h2>INFO</h2>
                <div class="listview_1_of_2 images_1_of_2">
                    <div class="listimg listimg_2_of_1">
                        <img src="images/pic4.jpg" alt="" />
                    </div>
                    <div class="text list_2_of_1">
                        <p>Use our product description writing services to bring more depth to your store</p>
                    </div>
                </div>
                <div class="listview_1_of_2 images_1_of_2">
                    <div class="listimg listimg_2_of_1">
                        <img src="images/pic5.jpg" alt="" />
                    </div>
                    <div class="text list_2_of_1">
                        <p>Unique product descriptions that appeal not only to your customers but also to search engines</p>
                    </div>
                </div>
                <div class="listview_1_of_2 images_1_of_2">
                    <div class="listimg listimg_2_of_1">
                        <img src="images/pic6.jpg" alt="" />
                    </div>
                    <div class="text list_2_of_1">
                        <p>Use our product description writing services to bring more depth to your store</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>