@{
    if (Session["username"] == null)
    {
        Response.Redirect("~/usrlogin/userindex");
    }
}
<div class="flexslider">

    <div class="flex-viewport" style="overflow: hidden; position: relative;">
        <ul class="slides" style="width: 21%; -webkit-transition: 0.3s; transition: 0.3s; -webkit-transform: translate3d(-5032px, 0, 0);">
            <li class="clone" style="width: 21%; float: left; display: block;">
                <img src="~/Content/NewFolder1/images/case.jpg" alt="" style="width:21%;" />
                <h class="right" style="background-color:powderblue; text-align:right; font-size:40px;">Gaming Case</h>
            </li>
            <li style="width: 21%; float: left; display: block;" class="">
                <img src="~/Content/NewFolder1/images/ion.jpg" alt="" style="width:21%;" />
                <h class="right" style="background-color:powderblue; text-align:right; font-size:40px;">Iron</h>

            </li>
            <li class="" style="width:21%; float: left; display: block;">
                <img src="~/Content/NewFolder1/images/router.jpg" alt="" style="width:21%;" />
                <h class="right" style="background-color:powderblue; text-align:right; font-size:40px;">Router</h>

            </li>
        </ul>
    
    </div>
</div>




<div class="wrap">

    <div class="clear"></div>
</div>
<div class="text-h">
    <h2>Top Sold </h2>
</div>

<div class="content">
    <div class="section group">
        <div class="col_1_of_3 span_1_of_3">
            <div class="grid-imgs">
                <a href="details.html"><img src="~/Content/NewFolder1/images/tv.jpg" alt=""  style="width:60%; height:70%;"/></a>
            </div>
            <h2>4k TV</h2>
            <p></p>
        </div>

        <div class="col_1_of_3 span_1_of_3">
            <div class="grid-imgs">
                <a href="details.html"><img src="~/Content/NewFolder1/images/mouse.jpg" alt="" style="width:60%; height:80%;"/></a>
            </div>
            <h2>Razer Gaming Mouse</h2>
            <p></p>
        </div>
        <div class="col_1_of_3 span_1_of_3">
            <div class="grid-imgs">
                <a href="details.html"><img src="~/Content/NewFolder1/images/gwatch.jpg" alt="" style="width: 60%; height: 200px;" /></a>
            </div>
            <h2>G-shock Gold </h2>
            <p></p>
        </div>
    </div>
    <div class="text-h">
        <h2>Recently Added</h2>
    </div>
    <div class="section group">
        <div class="col_1_of_5 span_1_of_5">
            < <div class="grid-img" style="width:90%; height:155px;">
                            <img src="~/Content/NewFolder1/images/grinding.jpg" alt="" style="width:100%; height:90%;" /></a>
                        </div>
            <p>Grinder</p>
            <button class="left" style="background-color:powderblue;">Rs. 2,200</button>
            <div class="btn right"></div>
        </div>
        <div class="col_1_of_5 span_1_of_5">
            <div class="grid-img" style="width:90%; height:155px;">
                <img src="~/Content/NewFolder1/images/key.jpg" alt="" style="width:100%; height:90%;" /></a>
            </div>
            <p>Gaming Keyboard</p>
            <button class="left" style="background-color:powderblue;">Rs. 3,200</button>
            <div class="btn right"></div>
        </div>
        <div class="col_1_of_5 span_1_of_5">
            <div class="grid-img" style="width:90%; height:155px;">
                <img src="~/Content/NewFolder1/images/head.jpg" alt="" style="width:100%; height:90%;" /></a>
            </div>
            <p>Headphone</p>
            <button class="left" style="background-color:powderblue;">Rs. 2,500</button>
            <div class="btn right"></div>
        </div>
        <div class="col_1_of_5 span_1_of_5">
            <div class="grid-img" style="width:90%; height:155px;">
                <img src="~/Content/NewFolder1/images/graphics.jpg" alt="" style="width:100%; height:90%;" /></a>
            </div>
            <p>GTX 1080</p>
            <button class="left" style="background-color:powderblue;">Rs. 60,000</button>
            <div class="btn right"></div>
        </div>

    </div>
</div>
