
@{
    ViewBag.Title = "mic";
}


@{
    if (Session["username"] == null)
    {
        Response.Redirect("~/usrlogin/userindex");
    }
}
<div class="content">
    <div class="section group">
        <div class="cont span_2_of_3">
            <div class="single">
                <h2><a href="index.html"></a></h2>
                <div class="grid-img" style="width:50%; height:200px;">
                    <img src="~/Content/NewFolder1/images/mic.jpg" alt="" style="width:50%; height:90%;" /></a>
                </div>
                <div class="para">
                    <h4>Mic and Stand</h4>
                    <div class="cart-b">
                        <button class="left" style="background-color:powderblue;">Rs. 5,500</button>

                        <div class="btn right"><a href="details.html">Add to Cart</a></div>
                        <div class="clear"></div>
                    </div>
                    <h5>100 items in stock</h5>
                    <p>Record you songs and voice in a great quality.</p>
                    <div class="btn top"></div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="text-h1 top">
                <h2>Stock Up Now!!</h2>
            </div>
            <div class="div2 single-1">
                <div class="sing-pic">
                    <img src="images/pic4.jpg" alt="" />
                </div>
                <div class="sing-pic">
                    <img src="images/pic5.jpg" alt="" />
                </div>
                <div class="sing-pic">
                    <img src="images/pic6.jpg" alt="" />
                </div>
                <div class="sing-pic">
                    <img src="images/pic7.jpg" alt="" />
                </div>
                <div class="clear"></div>
            </div>
        </div>

        <div class="rsidebar span_1_of_3">
            <div class="sidebar">
                <h2>About the products listed here</h2>
                <ul class="nav1">
                    <li><a href="">All products here are for home uses.</a></li>
                    <li><a href="">We only have limited products.</a></li>
                    <li><a href="">Make your daily home active easy with them.</a></li>
                    <li><a href="">Buy them before they get sold out.</a></li>


                </ul>
            </div>
            <div class="clear"></div>
            <div class="sidebar">
                <h2>Top Sellers</h2>
                <div class="listview_1_of_2 images_1_of_2">
                    <div class="listimg listimg_2_of_1">
                        <a href="details.html"><img src="~/Content/NewFolder1/images/ear.jpg" alt="" /></a>
                    </div>
                    <div class="text list_2_of_1">
                        <p>Get the best earphones here for best experince.</p>
                    </div>
                </div>
                <div class="listview_1_of_2 images_1_of_2">
                    <div class="listimg listimg_2_of_1">
                        <a href="details.html"><img src="~/Content/NewFolder1/images/head.jpg" alt="" /></a>
                    </div>
                    <div class="text list_2_of_1">
                        <p>Best gaming headphones available.</p>
                    </div>
                </div>
                <div class="listview_1_of_2 images_1_of_2">
                    <div class="listimg listimg_2_of_1">
                        <a href="details.html"><img src="~/Content/NewFolder1/images/earr.jpg" alt="" /></a>
                    </div>
                    <div class="text list_2_of_1">
                        <p>Restocked earbuds.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

